@import "../common/variables.scss";
///////////////// header
.header {
  background-color: $white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: all 200ms ease-in;

  nav {
    display: flex;
    min-height: 60px;
    line-height: 60px;
    transition: all 200ms ease-in;
    .right-section {
      display: flex;
      justify-content: flex-start;
      width: 75%;
    }
    .left-section {
      display: flex;
      justify-content: flex-end;
      width: 25%;
      button{
        transition: all 200ms ease-in;
      }
    }
    .logo img {
      width: 120px;
      position: relative;
      top: 15px;
      transition: all 200ms ease-in;
    }
    .menu {
      margin-right: 2rem;
      a {
        color: $black-color;
        font-weight: 500;
        margin: 4px 10px;
        padding-bottom: 10px;
      }
    }
  }
  &.shrink {
    nav {
      min-height: 40px;
      line-height: 40px;
      .logo img {
        width: 100px;
        position: relative;
        top: 10px;
      }
      .left-section button{
        margin: 0.5rem 0 !important;
      }
    }
  }
}

///////////////// footer
footer {
  .footer-logo {
    img {
      width: 100px;
      margin-top: 10px;
    }
  }
  .list-socials {
    padding-right: 0;
    display: flex;
    li {
      list-style-type: none;
      a {
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 39px;
        background: #ddd;
        svg {
          width: 20px;
          fill: #444;
        }
      }
    }
  }
}

///////////// above the fold
.search-panel {
  position: relative;
  min-height: 93vh;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1562509941-d39515d14666?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
}
