$main-font-family: iransans;
$main-font-family-fanum: iransansfanum;

$font-url: './fonts';

$primary-lighten-color: #adc2d5;
$primary-light-color: #3a779a;
$primary-color: #6200ee;
$primary-dark-color: #003450;
$primary-darken-color: #20333f;

$secondary-lighten-color: #f9b4a3;
$secondary-light-color: #f2665e;
$secondary-color: #EF4044;
$secondary-dark-color: #b61b1e;
$secondary-darken-color: #981b1e;

$black-color: #555555;
$light-grey: #f5f5f5;
$dark-grey: #85959b;
$white: #fff;
$success-color: #43a047;
$info-color: #1976d2;
$warning-color: #ffa000;
$error-color :#d32f2f;
$content-color:#9AA1A8; 